apiVersion: v1
kind: Service
metadata:
  name: mattstash-api
  namespace: mattstash
  labels:
    app: mattstash-api
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: mattstash-api
